.list-view .content {
    display: flex;
}

.list-view .campaign-grid {
    flex: 2;
}

.list-view .campaign-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .campaign-grid {
        display: none;
    }
}

.paragraph {
    color: cornflowerblue;
    font-size: 120%;
    font-weight: bold
}